:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --white-text-color: #ffffff;
  --acent-color: #2196f3;
  --prinmary-bg-color: #fff;
  --border-header-color: #ececec;
  --hero-bg: #2f303a;
  --btn-bg-color: #f5f4fa;
  --second-section-bg-color: #f5f4fa;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--prinmary-bg-color);
}

/* -------------------- Утилиты -------------------- */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
  /* outline: 1px solid rgb(47, 242, 50); */
}

.section {
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-pb {
  padding-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------------- Header -------------------- */

.header {
  border-bottom: 1px solid var(--border-header-color);
}

.head {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

/* -------------------- Header Logo Company -------------------- */

.web {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  color: var(--acent-color);
}

.studio {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* -------------------- Header Navigation -------------------- */

.nav {
  display: flex;
  align-items: center;
}

.nav > a {
  margin-right: 93px;
}

.nav-list {
  display: flex;
}

.nav .nav-link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu + .nav-menu {
  margin-left: 50px;
  position: relative;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--acent-color);
}

.nav .active-page {
  color: var(--acent-color);
  position: relative;
}

.active-page::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--acent-color);
  border-radius: 2px;
}

/* -------------------- Header Contact -------------------- */

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-menu {
  margin-right: 50px;
}

.contact-menu:last-child {
  margin-right: 0;
}

.contact-link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  display: inline-flex;
  align-items: center;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-contact {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--acent-color);
  fill: var(--acent-color);
}

/* -------------------- Hero -------------------- */

.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--hero-bg);
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.5),
      rgb(0, 0, 0, 0.5)
    ),
    url("../img/hero-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-title {
  width: 695px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 30px;
}

.hero-btn {
  font-family: inherit;
  height: 50px;
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8px;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  border: 1px solid var(--acent-color);
  border-radius: 4px;
  background-color: var(--acent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--prinmary-bg-color);
  color: var(--acent-color);
}

/* -------------------- Privileg -------------------- */

.privileg-list {
  display: flex;
}

.privileg-item {
  width: 270px;
  margin: 0 auto;
}

.priveleg-box {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--second-section-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.priveleg-icon {
  height: 70px;
  width: 70px;
}

.privileg-subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
}

.privileg-text {
  margin: 0;
  line-height: 1.7;
  color: var(--second-text-color);
}

/* -------------------- Work -------------------- */

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.work-item {
  padding: 0 15px;
}

.work-thumb {
  position: relative;
  overflow: hidden;
}

.work-action {
  position: absolute;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-thumb:hover .work-action {
  transform: translateY(0);
  opacity: 1;
}

.work-action-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin: 0;
}

/* -------------------- Command --------------------*/

.command-bg {
  background-color: var(--second-section-bg-color);
  margin-top: 0;
}

.command-list {
  display: flex;
  justify-content: center;
}

.command-item {
  margin-right: 30px;
  background: var(--prinmary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-item:last-child {
  margin-right: 0;
}

.command-name {
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.command-prof {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.client-list {
  display: flex;
  margin-left: 10px;
}

.client {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
}

.client:not(:last-child) {
  margin-right: 30px;
}

.client:hover {
  border: 1px solid var(--acent-color);
}

.command-footer {
  margin: 30px 0;
}

.command-social-list {
  display: flex;
  justify-content: center;
}

.social-network {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-network:not(:first-child) {
  margin-left: 10px;
}

.social-network-link {
  display: inline-flex;
  border-radius: inherit;
  padding: 12px;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-link:hover,
.social-network-link:focus {
  background-color: var(--acent-color);
  fill: var(--white-text-color);
}

.icon-social {
  width: 20px;
  height: 20px;
}

/* -------------------- Постоянные клинеты -------------------- */

.our-customer {
  display: flex;
}

.customer {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: calc((100% - 150px) / 6);
  height: 92px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer:not(:first-child) {
  margin-left: 30px;
}

.customer > a {
  display: block;
  padding: 13px 32px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-customer {
  width: 106px;
  height: 60px;
}

.customer-link:hover,
.customer-link:focus {
  fill: var(--acent-color);
}

.customer:hover,
.customer:focus {
  border-color: var(--acent-color);
}

/* -------------------- Footer -------------------- */

.footer {
  width: 100%;
  background: var(--hero-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-content {
  display: flex;
}

.footer-studio {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  color: var(--white-text-color);
}

.footer-item {
  font-style: normal;
  line-height: 1.19;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  margin-bottom: 9px;
}

.footer-address > a {
  font-style: normal;
  text-decoration: none;
  line-height: 1.7;
  color: var(--white-text-color);
  display: inline-block;
}

.footer-link {
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--acent-color);
}

.footer-soc-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 12px;
  color: var(--white-text-color);
}

.footer-social {
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
}

.footer-social-network {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-network:not(:first-child) {
  margin-left: 10px;
}

.footer-social-link {
  display: inline-flex;
  padding: 12px;
  border-radius: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer {
  width: 20px;
  height: 20px;
  fill: var(--white-text-color);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--acent-color);
}

/* -------------------- Портфолио -------------------- */

.portfoliobtn-list {
  margin-right: 10px;
}

.portfolio-btn {
  font-family: inherit;
  padding: 6px 22px;
  background: var(--btn-bg-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--acent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn.active {
  background-color: var(--acent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-list {
  display: flex;
  justify-content: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.photo-item {
  width: 370px;
  position: relative;
  background: var(--prinmary-bg-color);
  margin-bottom: 30px;
  margin-right: 30px;
}
.photo-item:nth-child(3n) {
  margin-right: 0px;
}

.photo-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.photo-thumb {
  position: relative;
  overflow: hidden;
}

.photo-action {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 294;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-link:hover .photo-action,
.photo-link:focus .photo-action {
  transform: translate(0);
  opacity: 1;
}

.photo-action-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
}

.item-border {
  border: 1px solid #eeeeee;
}

.photo-item:hover,
.link:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.photo-name {
  color: var(--primary-text-color);
  padding: 20px 25px 0 25px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.photo-about {
  padding: 0 25px 20px 25px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.8;
  color: var(--second-text-color);
}

/* -------------------- Модалка -------------------- */

.back-drop {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.back-drop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.back-drop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 8px;
  background-color: var(--prinmary-bg-color);
  fill: var(--primary-text-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 8px;
  border-radius: 50%;
  padding: 6px 6px 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--prinmary-bg-color);
  fill: #000000;
  align-items: center;
}

.btn-modal-icon {
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color);
}
